<!doctype html>
<head>
<title>Python Flask File Upload and Display Example</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <center>
                <h1><a href="/" class="top-line"> Dog Breed Classifier </a></h1>
            </center>
        </div>
    </nav>
    <center>

        <h2>Select an image file to upload</h2>
        <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
        </p>
        {% if filename %}
            <div>
                <img src="{{ url_for('display_image', filename=filename) }}" height="250" width="250">
            </div>
        {% endif %}
        {% if prediction %}
            <div>
                {{prediction}}
            </div>
        {% endif %}

        <form method="post" action="/" enctype="multipart/form-data">
            <dl>
                <p>
                    <input type="file" name="file" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>

    </center>
</body>